.Arrows {
  position: absolute;
  width: 2rem;
  height: 2rem;
  left: 50%;
  margin-left: -1rem;
  cursor: pointer;
  transition: opacity 1s;
}

.Arrows--top {
  top: 0.5rem;
}

.Arrows--bot {
  top: calc(100% - 2.5rem);
}

.Arrows--hidden {
  cursor: initial;
  opacity: 0;
  transition: opacity 1s;
}

.Arrows--hidden:focus {
  outline: none;
  cursor: initial;
}

.Arrows__img {
  width: 2rem;
  height: 2rem;
}
