.Arrows {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: Absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Arrows__icon {
  padding: 1rem;
  width: 2rem;
}

.Arrows__icon--hidden {
  opacity: 0;
}
