.skills {
  margin: 1rem;
}

.skills__title {
  margin-bottom: 1rem;
  border-bottom: 1px solid white;
  color: white;
}

.skills__item {
  display: inline-block;
  margin: 0.25em;
  padding: 0.25em;
  border: 1px solid white;
  border-radius: 0.5em;
}
