.Modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: Absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Modal__box {
  box-sizing: border-box;
  max-height: calc(100vh - 5rem);
  margin: 1rem;
  padding: 2rem;
  border: 1px white solid;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 1s;
  overflow-y: scroll;
}

.Modal__box--hidden {
  opacity: 0;
}
